body {
    background: url(https://img.wallpapersafari.com/desktop/1920/1080/79/99/7pCKEG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-bottom: 40px;
}

/* https://wallpapercave.com/wp/k87aIRJ.jpg */

.jumbotron {
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    text-align: center;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}

.footer {
    position: absolute;
    bottom: 0;
}

.container {
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 30px;
}

